<?xml version="1.0"?>
<config>
    <modules>
        <ChickyDev_Dathang>
            <version>0.1.0</version>
        </ChickyDev_Dathang>
    </modules>
    <global>
        <models>
            <chickydev_dathang>
                <class>ChickyDev_Dathang_Model</class>
                <resourceModel>chickydev_dathang_resource</resourceModel>
            </chickydev_dathang>
            <chickydev_dathang_resource>
                <class>ChickyDev_Dathang_Model_Resource</class>
            </chickydev_dathang_resource>
        </models>
        <blocks>
            <chickydev_dathang>
                <class>ChickyDev_Dathang_Block</class>
            </chickydev_dathang>
        </blocks>
        <helpers>
            <chickydev_dathang>
                <class>ChickyDev_Dathang_Helper</class>
            </chickydev_dathang>
        </helpers>
        <resources>
            <chickydev_dathang_setup>
                <setup>
                    <module>ChickyDev_Dathang</module>
                </setup>
            </chickydev_dathang_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <dathang>
                <use>standard</use>
                <args>
                    <frontName>dathang</frontName>
                    <module>ChickyDev_Dathang</module>
                </args>
            </dathang>
        </routers>
        <layout>
            <updates>
                <chickydev_dathang>
                    <file>dathang.xml</file>
                </chickydev_dathang>
            </updates>
        </layout>
    </frontend>
</config>