<?xml version="1.0"?>
<config>
    <modules>
        <ChickyDev_Homepageslider>
            <version>0.1.0</version>
        </ChickyDev_Homepageslider>
    </modules>
    <global>
        <models>
            <chickydev_homepageslider>
                <class>ChickyDev_Homepageslider_Model</class>
                <resourceModel>chickydev_homepageslider_resource</resourceModel>
            </chickydev_homepageslider>
            <chickydev_homepageslider_resource>
                <class>ChickyDev_Homepageslider_Model_Resource</class>
                <entities>
                    <homeslide>
                        <table>homeslide</table>
                    </homeslide>
                </entities>
            </chickydev_homepageslider_resource>
        </models>
        <blocks>
            <chickydev_homepageslider>
                <class>ChickyDev_Homepageslider_Block</class>
            </chickydev_homepageslider>
        </blocks>
        <helpers>
            <chickydev_homepageslider>
                <class>ChickyDev_Homepageslider_Helper</class>
            </chickydev_homepageslider>
        </helpers>
        <resources>
            <chickydev_homepageslider_setup>
                <setup>
                    <module>ChickyDev_Homepageslider</module>
                </setup>
            </chickydev_homepageslider_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ChickyDev_Homepageslider after="Mage_Adminhtml">ChickyDev_Homepageslider_Adminhtml</ChickyDev_Homepageslider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>