<?xml version="1.0"?>
<config>
    <modules>
        <ChickyDev_RemoteCart>
            <version>0.1.0</version>
        </ChickyDev_RemoteCart>
    </modules>
    <global>
        <models>
            <chickydev_remotecart>
                <class>ChickyDev_RemoteCart_Model</class>
                <resourceModel>chickydev_remotecart_resource</resourceModel>
            </chickydev_remotecart>
            <chickydev_remotecart_resource>
                <class>ChickyDev_RemoteCart_Model_Resource</class>
            </chickydev_remotecart_resource>
        </models>
        <blocks>
            <chickydev_remotecart>
                <class>ChickyDev_RemoteCart_Block</class>
            </chickydev_remotecart>
        </blocks>
        <helpers>
            <chickydev_remotecart>
                <class>ChickyDev_RemoteCart_Helper</class>
            </chickydev_remotecart>
        </helpers>
        <resources>
            <chickydev_remotecart_setup>
                <setup>
                    <module>ChickyDev_RemoteCart</module>
                </setup>
            </chickydev_remotecart_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <remotecart>
                <use>standard</use>
                <args>
                    <frontName>remotecart</frontName>
                    <module>ChickyDev_RemoteCart</module>
                </args>
            </remotecart>
        </routers>
    </frontend>
</config>