<?xml version="1.0"?>
<config>
    <tabs>
        <remotecart>
            <label>Remote Cart</label>
            <sort_order>1</sort_order>
        </remotecart>
    </tabs>
    <sections>
        <remotecart>
            <label>Remote Cart Cài đặt</label>
            <tab>remotecart</tab>
            <frontend_type>text</frontend_type>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Cài Đặt</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <rating translate="label">
                            <label>Tỉ Giá</label>
                            <frontend_type>text</frontend_type>
                            <comment>Tỉ giá VNĐ/Nhân Dân Tệ. Ví dụ: 3430 tương đương 3430 vnđ = 1 CNY.</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rating>
                        <muahang translate="label">
                            <label>Phí mua hàng</label>
                            <frontend_type>text</frontend_type>
                            <comment>Phí mua hàng tính theo % cộng thêm ở trang đặt hàng.</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </muahang>
                        <kiemhang translate="label">
                            <label>Phí kiểm hàng</label>
                            <frontend_type>text</frontend_type>
                            <comment>Phí kiểm hàng tính theo % cộng thêm ở trang đặt hàng.</comment>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </kiemhang>
                        <cpn translate="label">
                            <label>Phí chuyển phát nhanh</label>
                            <frontend_type>text</frontend_type>
                            <comment>Phí chuyển phát nhanh tính theo % cộng thêm ở trang đặt hàng.</comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cpn>
                        <donggo translate="label">
                            <label>Phí đóng gỗ</label>
                            <frontend_type>text</frontend_type>
                            <comment>Phí đóng gỗ tính theo % cộng thêm ở trang đặt hàng.</comment>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </donggo>
                        <devo translate="label">
                            <label>Phí dễ vỡ</label>
                            <frontend_type>text</frontend_type>
                            <comment>Phí dễ vỡ tính theo % cộng thêm ở trang đặt hàng.</comment>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </devo>
                        <feepercent translate="label">
                            <label>Tính tiền sản phẩm theo %</label>
                            <frontend_type>text</frontend_type>
                            <comment>Phí tính thêm theo % giá trị đơn hàng.</comment>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </feepercent>
                        <feeperitem translate="label">
                            <label>Tính tiền sản phẩm theo sản phẩm</label>
                            <frontend_type>text</frontend_type>
                            <comment>Phí tính thêm theo xxx tệ trên 1 sản phẩm.</comment>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </feeperitem>
                    </fields>
                </settings>
            </groups>
        </remotecart>
    </sections>
</config>
