.navbar.nav-down.menu-custom {
    background-color: white;
}

.nav.navbar-nav.menu-right li a {
    color: #f40;
}
.nav.navbar-nav.menu-right li a:hover {
    color: #337ab7 !important;
    text-decoration: underline;
}

i.icon-button {
    font-size: 35px;
    line-height: 10px;
    float: left;
}

.icon-button-text {
    float: left;
    padding: 7px;
    line-height: 0px;
}

.wrapper-icon-button {
    height: 53px;
    padding: 19px 15px;
}

.img_news {
    display: block;
    width: 350px;
    height: 260px;
}

a.title-underline :hover {
    text-decoration: underline !important;
}
.dividerLatest {
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    margin-bottom: 25px;
}
.dividerLatest {
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    margin-bottom: 25px;
}
.gDot {
    background: #e74c3c;
    bottom: -2px;
    height: 3px;
    width: 100px;
}
/*table price page*/
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr {
    text-align: center;
    padding-left:20px;
}
table td:first-child {
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
table td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
p {
    margin: 0 0 10px;
}
p {
    margin: 0 0 10px;
}
p {
    margin: 0 0 10px;
}

.wrapper-quydinh {
    margin-top: 30px;
    text-align: justify;
    line-height: 30px;
}

.wrapper-quydinh strong {
    font-weight: bold;
}

.wrapper-quydinh strong.title {
    font-weight: bold;
    font-size: 17px;
}
.container {
    padding-top: 50px;
    max-width: 1170px !important;
}
.body-s {
    padding-bottom: 100px;
}
.back-link {
    display: inline-block
}
.customer-account .main {
    overflow: hidden;
    padding-top: 100px;
    max-width: 1170px;
    margin:auto;
}
.customer-account .col-left-first {
    float: left;
}
.customer-account .col-main {
    float: left;
    margin-left: 10%;
}
.validation-advice {
    color: red;
}
.no-display {
    display: none;
}
.hero-fullscreen .background-image {
    opacity: 1;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.hero-fullscreen .background-image img {
    /*display: block;*/
}
.shopping-cart-popup {
    position: fixed;
    display: block;
    bottom: 50px;
    font-size: 50px;
    right: 50px;
    z-index: 999999;
    background: rgba(0,0,0,0.3);
    color: #f40;
    padding: 40px 17px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    cursor: pointer;
    transition: all 200ms ease;
}
.shopping-cart-popup:hover {
    background: rgba(0,0,0,0.7);
}
.shopping-cart-popup i {
    display: inline-block;
    vertical-align: middle;
}
.shopping-cart-popup span {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    background: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    text-align: center;
}
.shoppingcart {
    width: 1170px;
    margin: 100px auto auto;
}
.table-header-detailOrder, .payment-order-table {
    width: 100%;
    margin: 0;
}
.checkbox-inline {
    color: white;
    padding-left: 0;
}
.checkbox-inline input {
    width: 20px;
    float: none;
    position: relative;
    margin-top: 0;
}
.list-check-service li input {
    margin: 0;
    width: 25px;
}
.updatecartbtn, .placeorderbtn {
    display: inline-block;
    width: 200px;
    margin-left: 20px;
    background: #f40 !important;
}
.placeorderbtn {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: white;
    padding: 15px;
    text-shadow: none;
    border-radius: 5px;
    margin-left:0;
}
.placeorderbtn:hover {
    color: #f40;
    background: white !important;
}
.remember-me-box {
    list-style: none;
}
.remember-me-box .input-box {

}
input[name="persistent_remember_me"] {
    position: static !important;
    display: inline-block !important;
    width: 50px !important;
}

.dathang {
    margin:50px auto;
}